.container{
    position: absolute;
    left: 0;
    height: 100%;
    width: 340px;
    z-index: 10;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.black_background{
    position: absolute;
    background: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.filter_block{
    top: 50px;
    position: sticky;
    width: 100%;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter_title_name1{
  font-size: 20px;
  text-align: center;
  color: white;
  z-index: 20;
}

.search_input1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}


.brand_selector_storage{
    width: 100%;
    padding-left: 20px;
    position: relative;
}

.brand_selector_color{
    width: 100%;
    position: relative;
}

.brand_selector_storage_size{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 60px;
}

.main_brand_selector{
    width: 100%;
    padding-bottom: 10px;
}

.main_brand_color{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.brand_selector{
    position: relative;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    background: #FFFFFF;
}

.barnd_selector_title{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barnd_options{
    position: absolute;
    height: 100px;
    width: 100%;
    background: #FFFFFF;
    z-index: 30;
    overflow-y: auto;
    border-radius: 3px;
    transform: translate(0px, 2px);
}

.list{
    width: 100%;
}

.list_item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 20px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.color_button:hover{
  cursor: pointer;
}

.first_color_select{
    height: 15px;
    width: 15px;
    border: 1px solid white;
}

.first_color_select_1{
    height: 15px;
    width: 15px;
    border: 4px solid white;
}

.filter_opener_closer{
    position: fixed;
    top: 420px;
    width: 50px;
    height: 50px;
    z-index: 10;
    background: #FFFFFF;
    transform: translate(310px, 0);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_opener{
    position: fixed;
    top: 420px;
    width: 50px;
    height: 50px;
    z-index: 10;
    background: #FFFFFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.filter_arrows{
    font-size: 45px;
    color: #5efd09;
}