.addedItemNotificationContainer{
    position: fixed;
    right: 0;
    width: 20%;
    color: black;
    height: 150px;
    bottom: 0;
    z-index: 55;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid greenyellow;
}

.added_icon{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_content{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked_icon{
    height: 80px;
    width: 80px;
    color: greenyellow;
}


@media(max-width: 980px){
    .addedItemNotificationContainer{
        width: 80%;
        left: 0;
        margin: auto;
    }
}